/* =================== GENERAL =================== */
.content-container {
    max-width: 1219px;
    height: 100%;
    margin: auto;
    padding-right: 55px;
    padding-left: 55px;
    /*border: 1px solid white;*/
}

.is_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    margin: 0;
}

/* =================== HEADER =================== */
.header {
    background-color: #007765;
    height: 84px;
}

.header--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--logo {
    height: 45px;
    width: 184px;
}

.logo img {
    position: absolute;
    height: 45px;
}

.header--nav {
    display: flex;
}

.header--nav_element,
.header--nav_separator {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-right: 8px;
}

.header--nav_element:last-child {
    padding-right: 0;
}

/* =================== MAIN =================== */
/* main--head */
.main--head_image {
    background-image: url("Pictures/headerImage.png");
    background-size: 100%;
    height: 403px;
}

.main--head_text {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    color: #FFFFFF;
}

/* article_text */
.article {
    background: #EEEEEE;
    padding-top: 48px;
    padding-bottom: 92px;
}

.article--header {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    margin: 0 0 16px 0;
}

.article_text--text_content {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin: 0;
}

/* article_img */
.article_img {
    background: url("Pictures/articleImage.png");
    height: 483px;
    padding: 0;
}

.article_img--text {
    font-family: Roboto, serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    max-width: 893px;
}

.article_pied_piper_coin {
    background: #FFFFFF;
}

/* PPCLogo */
.PPCLogo {
    float: left;
    margin-right: 48px;
}

/* team_member */
.team_member--container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.team_member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin-bottom: 82px;
}

.team_member--photo {
    width: 168px;
    height: 168px;
    padding: 0;
    margin: 0 0 12px 0;
}

.team_member--name {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
    margin: 0;
}

.team_member--position {
    font-family: Roboto, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 0;
}




/* =================== FOOTER =================== */
.footer {
    background-color: #333333;
    height: 176px;
}

.footer--text_content {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;

    max-width: 540px;
}